{% block sw_cms_block_topseller %}
    <h3>Test from Block</h3>
    <div class="sw-cms-block-topseller">
        {#<slot name="left">{% block sw_cms_block_topseller_slot_left %}{% endblock %}</slot>#}
        {#<slot name="right">{% block sw_cms_block_topseller_slot_right %}{% endblock %}</slot>#}
    </div>
{% endblock %}
