{% block sw_cms_block_topseller_slider %}
        <h3>Topseller Slider</h3>
        <div class="sw-cms-block-topseller-slider">
            <sw-icon
                name="regular-chevron-left"
                size="20"
            />
            <div class="sw-cms-block-topseller-slider__product-box">
                <sw-cms-product-box-preview has-text />
                <sw-cms-product-box-preview has-text />
            </div>
            <sw-icon
                name="regular-chevron-right"
                size="20"
            />
        </div>
{% endblock %}
